---
layout: page
---
<img class="background" src="/assets/images/article-front.png" />
<body class="center-content">

    <main>
        <section class="hero">
            <h1> Tiled Screen </h1>
            <h2> A highly customizable application launcher based on Tiles</h2>
        </section>

        <section class="flex row center-content">
            <a class="tile bordered rounded" href="/changelog">
                <div class="flex row">
                    <div class="flex column center-content">
                        <h4>Version 1.0 released</h4>
                        <p>Check out new additions</p>
                    </div>
                    <div class="tile cutout rounded internal center-content">
                        <h1 class="label">v1.0</h1>
                    </div>
                </div>
            </a>
        </section>

        <section class="grid x3 gapped adaptive">
            <a class="tile grow brown" href="download" id="t1">
                <h1> Download </h1>
                <p> Download Tiled Screen. <br/> ( KDE Plasma 6 only ) </p>
            </a>
            <a class="tile grow white" href="store">
                <h1> Tile Store </h1>
                <p> Download third party tiles for Tiled Screen </p>
            </a>
            <a class="tile grow blue" href="docs">
                <h1> Documentation </h1>
                <p> Developer documentation for Tiled Screen tile development </p>
            </a>
            <a class="tile grow green" href="about">
                <h1> About </h1>
                <p> About Tiled Screen project </p>
            </a>
        </section>
    </main>

    <footer>
        {% include footer.html %}
    </footer>

</body>
